/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  background: white;
  margin: 0;
  padding: 0;
}

body .result-page {
  /*background: url(body_bg.png);*/
}

h1 {
  font-size: 30pt;
  font-family: "proxima-nova", "Helvetica Neue", sans-serif;
  font-weight: bold;
}

h2 {
  font-size: 220%;
  font-family: "proxima-nova", "Helvetica Neue", sans-serif;
  font-weight: bold;
}

h3 {
  font-size: 20pt;
  padding: 10px;
}

p {
  font-family: "Helvetica Neue", "Helvetica";
  padding-top: 20px;
  line-height: 25px;
}

i {
  font-style: italic;
}

li ul, li ol {
  margin: 0 1.5em;
}
ul, ol {
  margin: 1.5em 1.5em 0 1.5em;
  font-size: 110%;
  line-height: 20px;
}
ul {
  list-style-type:disc;
}
/*ol {
  list-style-type:decimal;
}
ol ol {
  list-style: upper-alpha;
}
ol ol ol {
  list-style: lower-roman;
}
ol ol ol ol {
  list-style: lower-alpha;
}*/

a:link, a:visited, a:active {
  color: #55acee;
}


a:hover {
  color: black;
}

.bold {
  font-weight: bold;
}

.center-text {
  text-align: center;
}

.justify-text {
  text-align: justify;
}

.top-padding {
  padding-top: 45px;
}

.bottom-padding {
  padding-bottom: 45px;
}

.bottom-margin {
  margin-bottom: 25px;
}

.nav {
  height: 50px;
  background: black;
}

.logo a:link, .logo a:visited, .logo a:hover, .logo a:active {
  color: #55acee;
  font-family: 'Josefin Slab', serif;
}

.header {
  background: url(top_3.png);
  /*height: 180px;*/
  color: white;
}

.header form {
  padding: 25px;
}

#bird {
  width: 50px;
  padding: 25px;
}

.user-info {
  padding: 25px;
  /*margin-bottom: 45px;*/
}

.user-p {
  padding-bottom: 7px;
  line-height: 15px;
  padding-top: 10px;
}

.user-info a:link {
  text-decoration: none;
}

.error {
  color: red;
  padding-top: 10px;
}

#tpd_keys, #tpd_values {
  visibility: hidden;
}

#loading {
  padding-top: 25px;
  margin: 0 auto;
  display: block;
  visibility: hidden;
}

.main-score {
  display: block;
  margin: 0 auto;
  /*background: #55acee;*/
  background: RGBA(242, 242, 242, 0.8);
  width: 220px;
  height: 220px;
  border-radius: 50%;
  margin-top: 25px;
}

.sub-scores {
  padding-top: 25px;
}

.score-circle {
  font-size: 30pt;
  padding-top: 75px;
  text-align: center;
}

.main-score a:link, .main-score a:hover, .main-score a:visited, .main-scorea:active {
  color: black;
}

.label-circle {
  padding-top: 15px;
  text-align: center;
}

.box {
  /*background: #55acee;*/
  background: RGBA(242, 242, 242, 0.8);
  height: 120px;
}

.score {
  font-size: 30pt;
  padding-top: 25px;
  text-align: center;
}

.label {
  padding-top: 15px;
  text-align: center;
}

.chart {
  padding-top: 25px;
  display: block;
  margin: 0 auto;
}

.chart-label h1 {
  font-size: 25pt;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: 'Lato', sans-serif;
}

.twitter-blue {
  color: #55acee;
  text-decoration: none;
}

.description {
  font-size: 126%;
}

.tooltip {
  cursor: help;
}

.fa-heart {
  color: red;
}
